body {
	margin: 0;
	padding: 0;
}

#video-grid {
	display: flex;
	justify-content: center;
}

video {
	height: 300px;
	width: 400px;
}

.main {
	height: 100vh;
	display: flex;
}

.main__left {
	flex: 0.8;
	display: flex;
	flex-direction: column;
}
.main__right {
	flex: 0.2;
}

.main__videos {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: rgb(32, 32, 32);
	flex-grow: 1;
}
.main__controls {
	display: flex;
	background-color: #1c1e20;
	color: #d2d2d2;
	padding: 5px;
	justify-content: space-between;
}

.main__controls__block {
	display: flex;
}

.main__controls__button {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 8px 10px;
	min-width: 80px;
	cursor: pointer;
}

.main__controls__button:hover {
	background-color: #343434;
	border-radius: 5px;
}

.main__controls__button i {
	font-size: 24px;
}

/* #video-grid {
	display: grid;
	grid-template-columns: repeat(auto-fill, 300px);
	grid-auto-rows: 300px;
}

video {
	height: 100%;
	width: 100%;
	object-fit: cover;
}
 */
